.cart-card {
  width: 220px;
  height: 150px;
  margin: 15px 25px;
  border-radius: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
}

.cart-card-image {
  width: 80px;
  height: 80px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.cart-card-title {
  text-align: center;
}

.card-img-top {
  margin-top: 25px;
}

.card-title {
  all: none;
}

.card {
  all: none;
  
}

.card-text {
  text-indent: 1em;
  text-align: inherit;
}

.card-text:first-letter {
  text-transform: uppercase;
}